<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library CRUD App</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
   
    <h1>Library Crud App</h1>
    <button id="borrBooks">Borrowed Books</button>
    <button id="books">Books</button>
    <button id="users">Users</button>
    <div class="display">
    </div>
    <script src="main.js"></script>
</body>
</html>