body{
    background-color: black;
    text-align: center;
}

h1,h4{
    color: rgb(209, 7, 101);
}

#borrBooks, #books, #users{
    background: rgb(4, 154, 180);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    height: 30px;
    font-weight: 600;
}

.display {
    display: flex;
    flex-direction: column;
    margin: 15px;
    justify-content: center;
    align-items: center;
}

div{
    color: #fff;
    font-weight: 600;
    
}
